doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Daycare Management System
  link(rel='stylesheet' href='/css/style.css')
h1 Babies Update Form
.container
  form#babiesForm(action = "/babiesUpdate?id="+baby._id  method="POST")
    .form-group
      label(for='name') Babies Name:
      input#name(type='text' placeholder='Babies Name' name='name' value=baby.name)
    .form-group
      label(for='age') Babies Age:
      input#age(type='number' placeholder='Babies Age' name='age' value=baby.age)
    .form-group
      label(for='location') Babies Location:
      input#location(type='text' placeholder='Babies Location' name='Location' value=baby.location)
    .form-group
      label(for='dob') Babies Date of Birth:
      input#dob(type='date' placeholder='Babies Date of Birth' name='dob' value=baby.dob)
    .form-group
      label(for='gender') Babies Gender:
      select#gender(name='gender')
        option(value='male' selected=baby.gender=== 'male') Male
        option(value='female' selected=baby.gender=== 'female') Female
    .form-group
      label(for='name') name of person brought the baby:
      input#nextOfKin(type='text' placeholder='name of person brought the baby' name='nextOfKin' value=baby.nextOfKin)
    .form-group
      label(for='time of arrival') time of arrival:
      input#time(type='text' placeholder='Time of Arrival' name='timeofArrival' value=baby.timeofArrival)
    .form-group
      label(for='parentsName') parents names:
      input#recommendersName(type='text' placeholder="Sitter Recommender's Name" name='parentName' value=baby.parentName)
    .form-group
      label(for='fees in Ugx') Fees in Ugx:
      select#fees(name='fees')
        option(value='10000') 10000
        option(value='15000') 15000
        option(value='others') Others
    .form-group
      label(for='periodOfStay') Period of Stay:
      select#periodofStay(name='periodofStay')
        option(value='half day') Half day
        option(value='full day') Full day
        option(value='others') Others
    .form-group
      label(for='dob')  Date of Payment:
      input#dob(type='date' placeholder=' Date of Payment' name='dob')
    .form-group
      label(for='babiesNumber') Baby&apos;s Number:
      input#babiesNumber(type='text' placeholder='Babies Number' name='babiesNumber' value=baby.babiesNumber)
    .form-group
      label(for='name of the person taking the baby') name of the person taking the baby:
      input#name(type='text' placeholder='Name of The Person taking the Baby' name='nameofpersontakingcare' value=baby.nameofpersontakingcare)
    .form-group
      label(for='time out') time out:
      input#Time(type='number' placeholder='Time Out' name='TimeOut' value=baby.TimeOut)
    button(type='submit') Update
#babyList

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/script.js"></script>