doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title  Payments Table
    link(rel='stylesheet' href='/css/pay.css')
  body
    .container
      h2  Payments
      table#PaymentsTable
        thead
          tr
            th Date
            th Name
            th Number of Babies
            th Payment
            th Action
        tbody#payment-list
          //- - var payments = typeof payments !== 'undefined' ? payments : []
          if  payments.length 
            each payment in payments
              tr
                td #{moment(payment.date).format("DD-MM-YYYY")}
                td #{payment.name}
                td #{payment.numberOfBabies}
                td #{payment.totalPayment}
                td
                  form(method="POST" action="/deletepayment")
                    input(type="hidden" name="id" value=payment._id)
                    button(type="submit") Delete