doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/sitter.css')

h1 Clockedin sitters
table
  thead
          tr
            th Name
            th Age
            th Location
            th Gender
            th Number
            th Contacts
           
  tbody#sitter-list
       if sitters.length 
       each sitter in sitters 
          tr
            td   #{sitter.name} 
            td  #{sitter.age}
            td  #{sitter.location} 
            td  #{sitter.gender} 
            td  #{sitter.sitterNumber} 
            td  #{sitter.contacts} 
           
            td
                form(method="POST" action="/deletesitter")
                  input(type="hidden" name="id" value=sitter._id)
                  button(type="submit") Delete