doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/sitter.css')

h1 Clockedout Babies
table
  thead
          tr
            th Name
            th Gender
            th Time of arrival
            th Number
            th Name of person taking care 
            th Time out
            th Action
           
  tbody#baby-list
       if babies.length 
       each baby in babies 
          tr
            td   #{baby.name} 
            td  #{baby.gender} 
            td  #{baby.timeofArrival} 
            td  #{baby.babiesNumber} 
            td  #{baby.nameofpersontakingcare}
            td  #{baby.TimeOut} 
          
            td
                 form(method="POST" action="/deletebaby")
                  input(type="hidden" name="id" value=baby._id)
                  button(type="submit") Delete